.App {
  text-align: center;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin: 40px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  color: white;
}